.fondo {
    background-color: salmon;
    border: solid 2px;
}
.espacio {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 500px;
}
.color {
    color: black;
}
.centrar {
    margin-right: 500px;
    font-size: 2.25rem;
}